@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(201, 11%, 66%);
  font-size: 1.125rem;
  font-weight: 400;
  background-image: url("../images/bg-header-mobile.png");
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 160px;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 380px) {
  body {
    background-image: url("../images/bg-header-desktop.png");
  }
}

p {
  font-size: 1rem;
  letter-spacing: 0.12px;
  max-width: 730px;
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 2rem;
  letter-spacing: -0.52px;
}
@media only screen and (min-width: 380px) {
  h1 {
    font-size: 2.875rem;
    letter-spacing: -0.75px;
  }
}

h2 {
  font-size: 1.75rem;
  letter-spacing: -0.46px;
}
@media only screen and (min-width: 380px) {
  h2 {
    font-size: 36px;
    letter-spacing: -0.59px;
  }
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.39px;
}

header,
main {
  margin-inline: 32px;
  max-width: 1440px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
header img {
  margin-block: 64px;
  width: 125px;
  align-self: center;
}
@media only screen and (min-width: 380px) {
  header p {
    font-size: 1.25rem;
    letter-spacing: 0.15px;
  }
}

footer {
  width: 100%;
  margin: 0;
  background-color: #f4f5f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  padding-block: 56px;
}
@media only screen and (min-width: 380px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
footer img {
  width: 55px;
}
footer .social {
  display: flex;
  gap: 40px;
  align-items: center;
}
footer .social img {
  width: -moz-min-content;
  width: min-content;
}
footer .links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (min-width: 380px) {
  footer .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
  }
}

a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  letter-spacing: 0.14px;
}
a:hover {
  text-decoration: underline;
  color: hsl(171, 66%, 44%);
}
a:hover svg path {
  fill: hsl(171, 66%, 44%);
}

article {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 135px;
}
main img {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
@media only screen and (min-width: 380px) {
  section h2 + p {
    font-size: 1.125rem;
    letter-spacing: 0.14px;
  }
  section img {
    max-width: 75%;
  }
  section.workflow {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  section.workflow .group {
    max-width: 350px;
  }
  section.flex-row {
    flex-direction: row;
    gap: 110px;
    text-align: left;
    font-size: 1rem;
    letter-spacing: 0.12px;
  }
  section.flex-row img {
    margin-left: -64px;
    width: 100%;
  }
  section.flex-row .bullets {
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
}
section .icon {
  margin-bottom: 40px;
}
section .icon,
section .company {
  width: -moz-min-content;
  width: min-content;
}
section.logos {
  gap: 56px;
}
@media only screen and (min-width: 380px) {
  section.logos {
    flex-direction: row;
    gap: 95px;
    justify-content: center;
  }
}

.buttons {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 380px) {
  .buttons {
    flex-direction: row;
  }
}

button {
  all: unset;
  width: 311px;
  height: 56px;
  color: white;
  font-weight: 400;
  letter-spacing: 0.5px;
  border-radius: 28px;
  margin: 0;
}
@media only screen and (min-width: 380px) {
  button {
    width: 227px;
  }
}
button.primary {
  transition: background-color 250ms linear;
  background-color: hsl(171, 66%, 44%);
  border: 1px solid #1d907f;
  border-bottom: 3px solid #1d907f;
  box-shadow: 0em 0.5em 1em 0.1em rgba(38, 186, 164, 0.2);
}
button.primary:hover {
  background-color: #2acbb3;
  cursor: pointer;
}
button.secondary {
  transition: background-color 250ms linear;
  background-color: hsl(233, 100%, 69%);
  border: 1px solid #2e46ff;
  border-bottom: 3px solid #2e46ff;
  box-shadow: 0em 0.5em 1em 0.1em rgba(97, 115, 255, 0.2);
}
button.secondary:hover {
  background-color: #7585ff;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */