$mobile-width: 380px;

$primary: hsl(171, 66%, 44%);
$secondary: hsl(233, 100%, 69%);
$accent-dark: hsl(210, 10%, 33%);
$accent-light: hsl(201, 11%, 66%);

$font-size: 18px;
$font-family: "Bai Jamjuree", sans-serif;
$weight-normal: 400;
$weight-bold: 600;

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $accent-light;
  font-size: 18px;
  font-weight: 300;
  background-image: url("/images/bg-header-mobile.png");
  @media only screen and (min-width: $mobile-width) {
    background-image: url("/images/bg-header-desktop.png");
  }
  background-position: top;
  background-repeat: no-repeat;

  text-align: center;
  padding: 0;
  margin: 0;
}

header {
  margin-top: 50px;
  img {
    margin-block: 50px;
  }
}

button {
  all: unset;
  width: 311px;
  @media only screen and (min-width: 380px) {
    width: 227px;
    margin-inline: 5px;
  }
  height: 56px;
  color: white;
  font-weight: $weight-normal;
  border-radius: 28px;
  margin: 0.5em auto;
  &.primary {
    transition: background-color 250ms linear;
    background-color: $primary;
    border: 1px solid darken($primary, 10%);
    border-bottom: 3px solid darken($primary, 10%);
    box-shadow: 0em 0.5em 1em 0.1em rgba($primary, 0.2);
    &:hover {
      background-color: lighten($primary, 4%);
      cursor: pointer;
    }
  }
  &.secondary {
    transition: background-color 250ms linear;
    background-color: $secondary;
    border: 1px solid darken($secondary, 10%);
    border-bottom: 3px solid darken($secondary, 10%);
    box-shadow: 0em 0.5em 1em 0.1em rgba($secondary, 0.2);
    &:hover {
      background-color: lighten($secondary, 4%);
      cursor: pointer;
    }
  }
}
