@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  font-weight: 300;
  background-image: url("/images/bg-header-mobile.png");
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 380px) {
  body {
    background-image: url("/images/bg-header-desktop.png");
  }
}

p {
  line-height: 25px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  padding-inline: 10px;
}

header {
  text-align: center;
  padding-inline: 25px;
  margin-bottom: 75px;
}
header img {
  margin: 120px auto 60px auto;
}
header h1 {
  font-size: 30px;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  margin: 0;
}
@media only screen and (min-width: 380px) {
  header h1 {
    font-size: 44px;
  }
}
header p {
  margin-block: 25px 50px;
}
@media only screen and (min-width: 380px) {
  header p {
    margin-inline: 25%;
    padding-inline: 0;
  }
}

section {
  margin-block: 75px 60px;
  display: block;
  padding-inline: 25px;
}
section p {
  margin-bottom: 48px;
}
section h2 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 0;
}
section h3 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  font-size: 1.3em;
  margin-block: 15px;
}
@media only screen and (min-width: 380px) {
  section h2 {
    font-size: 34px;
  }
  section .stinger {
    padding-inline: 25%;
  }
  section .stinger p {
    font-size: 18px;
    padding: 0;
  }
}
section .computer-image {
  width: 100%;
  margin-block: 65px 20px;
}
section .devices-image {
  width: 100%;
  margin-block: 10px;
}
section .company {
  display: block;
  margin-block: 28px;
}
section .icon {
  margin-block: 18px;
}
section .pb {
  margin-bottom: 2em;
}
section.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 100px;
  padding-bottom: 36px;
  background-color: rgba(159, 171, 178, 0.1);
  width: 100%;
}
footer a {
  color: hsl(210, 10%, 33%);
  text-decoration: none;
  display: block;
  margin-block: 36px;
  font-weight: 400;
}
footer a:last-child {
  margin-bottom: 0px;
}
footer img {
  margin-top: 50px;
  width: 55px;
}

button {
  all: unset;
  width: 310px;
  height: 55px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-radius: 2em;
  margin: 0.5em auto;
}
@media only screen and (min-width: 380px) {
  button {
    width: 225px;
    margin-inline: 5px;
  }
}
button.primary {
  transition: background-color 250ms linear;
  background-color: hsl(171, 66%, 44%);
  border: 1px solid #1d907f;
  border-bottom: 3px solid #1d907f;
  box-shadow: 0em 0.5em 1em 0.1em rgba(38, 186, 164, 0.2);
}
button.primary:hover {
  background-color: #2acbb3;
  cursor: pointer;
}
button.secondary {
  transition: background-color 250ms linear;
  background-color: hsl(233, 100%, 69%);
  border: 1px solid #2e46ff;
  border-bottom: 3px solid #2e46ff;
  box-shadow: 0em 0.5em 1em 0.1em rgba(97, 115, 255, 0.2);
}
button.secondary:hover {
  background-color: #7585ff;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */