$mobile-width: 375px;

$primary: hsl(171, 66%, 44%);
$secondary: hsl(233, 100%, 69%);
$accent-dark: hsl(210, 10%, 33%);
$accent-light: hsl(201, 11%, 66%);

$font-size: 18px;
$font-family: "Bai Jamjuree", sans-serif;
$weight-normal: 400;
$weight-bold: 600;

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $accent-light;
  font-size: 18px;
  font-weight: 300;
  background-image: url("/images/bg-header-mobile.png");
  @media only screen and (min-width: 376px) {
    background-image: url("/images/bg-header-desktop.png");
  }
  background-position: top;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

p {
  line-height: 25px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  padding-inline: 10px;
}

header {
  text-align: center;
  padding-inline: 25px;
  margin-bottom: 75px;
  img {
    margin: 120px auto 60px auto;
  }
  h1 {
    font-size: 30px;
    font-weight: $weight-bold;
    color: $accent-dark;
    margin: 0;
  }
  p {
    margin-block: 25px 50px;
  }
}

section {
  margin-block: 75px 60px;
  display: block;
  p {
    margin-bottom: 48px;
  }
  h2 {
    color: $accent-dark;
    font-weight: $weight-bold;
    font-size: 1.5em;
    margin-top: 0;
  }
  h3 {
    color: $accent-dark;
    font-weight: $weight-bold;
    font-size: 1.3em;
    margin-block: 15px;
  }
  .computer-image {
    width: 100%;
    margin-block: 65px 20px;
  }
  .devices-image {
    width: 100%;
    margin-block: 10px 100px;
  }
  .company {
    display: block;
    margin-block: 28px;
  }
  .icon {
    margin-block: 18px;
  }

  .pb {
    margin-bottom: 2em;
  }

  &.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main {
  padding-inline: 25px;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 100px;
  a {
    color: $accent-dark;
    text-decoration: none;
    display: block;
    margin-block: 36px;
    font-weight: $weight-bold;
  }
  img {
    margin-top: 50px;
    width: 55px;
  }
  background-color: rgba($accent-light, 0.1);
  width: 100%;
}

button {
  all: unset;
  width: 310px;
  height: 55px;
  color: white;
  font-weight: $weight-bold;
  font-size: 18px;
  border-radius: 2em;
  margin: 0.5em auto;
  &.primary {
    transition: background-color 250ms linear;
    background-color: $primary;
    border: 1px solid darken($primary, 10%);
    border-bottom: 3px solid darken($primary, 10%);
    box-shadow: 0em 0.5em 1em 0.1em rgba($primary, 0.2);
    &:hover {
      background-color: lighten($primary, 4%);
      cursor: pointer;
    }
  }
  &.secondary {
    transition: background-color 250ms linear;
    background-color: $secondary;
    border: 1px solid darken($secondary, 10%);
    border-bottom: 3px solid darken($secondary, 10%);
    box-shadow: 0em 0.5em 1em 0.1em rgba($secondary, 0.2);
    &:hover {
      background-color: lighten($secondary, 4%);
      cursor: pointer;
    }
  }
}
