$mobile-width: 380px;

$primary: hsl(171, 66%, 44%);
$secondary: hsl(233, 100%, 69%);
$accent-dark: hsl(210, 10%, 33%);
$accent-light: hsl(201, 11%, 66%);

$font-size: 18px;
$font-family: "Bai Jamjuree", sans-serif;
$weight-normal: 400;
$weight-bold: 600;

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $accent-light;
  font-size: 18px;
  font-weight: $weight-normal;
  background-image: url("/images/bg-header-mobile.png");
  @media only screen and (min-width: $mobile-width) {
    background-image: url("/images/bg-header-desktop.png");
  }
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 160px;
  text-align: center;
  padding: 0;
  margin: 0;
}
p {
  font-size: 16px;
  letter-spacing: 0.12px;
}
h1,
h2,
h3 {
  color: black;
  font-weight: $weight-normal;
  margin: 0;
}
h1 {
  font-size: 32px;
  letter-spacing: -0.52px;
}
h2 {
  font-size: 28px;
  letter-spacing: -0.46px;
}
h3 {
  font-size: 24px;
  letter-spacing: -0.39px;
}
header,
main {
  margin-inline: 32px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  img {
    margin-block: 64px;
    width: 125px;
    align-self: center;
  }
}
footer {
  width: 100%;
  margin: 0;
  background-color: lighten($accent-light, 30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 55px;
    margin-block: 56px;
  }
  .social {
    display: flex;
    gap: 40px;
    img {
      width: 24px;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    a {
      text-decoration: none;
      color: $accent-dark;
      letter-spacing: 0.14px;
    }
  }
}

article {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 135px;
  img {
    width: 100%;
  }
}
section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  .icon,
  .company {
    width: min-content;
  }
  .logos {
    gap: 56px;
  }
}
.buttons {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
button {
  all: unset;
  width: 311px;

  height: 56px;
  color: white;
  font-weight: $weight-normal;
  border-radius: 28px;
  margin: 0;
  &.primary {
    transition: background-color 250ms linear;
    background-color: $primary;
    border: 1px solid darken($primary, 10%);
    border-bottom: 3px solid darken($primary, 10%);
    box-shadow: 0em 0.5em 1em 0.1em rgba($primary, 0.2);
    &:hover {
      background-color: lighten($primary, 4%);
      cursor: pointer;
    }
  }
  &.secondary {
    transition: background-color 250ms linear;
    background-color: $secondary;
    border: 1px solid darken($secondary, 10%);
    border-bottom: 3px solid darken($secondary, 10%);
    box-shadow: 0em 0.5em 1em 0.1em rgba($secondary, 0.2);
    &:hover {
      background-color: lighten($secondary, 4%);
      cursor: pointer;
    }
  }
}
